<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="margin-bottom: 0">
  <a class="navbar-brand" href="#">PatientPal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!--NavBar-->
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Our Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Our Client</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Our Commitments</a>
      </li>
      <li class="nav-item">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">About</h1>
    <h3 class="hover-h3">PatientPal & Didymo Designs</h3>
    <p class="lead">We are working with Didymo Designs to replace an existing medical survey system used by cancer patients to report their wellbeing after undergoing radiation therapy. <br /> <br />

      PaientPal focuses and outlines our understanding and findings on the issues about the current systems’ data collection of cancer patients, how its inadequate design is developed and how our approach attempts to solve this issue based on one of the leading causes of deaths in Australia. <br /> <br />

      Our system intends to alleviate this by allowing for patients to receive personalised questionnaires from staff within the NSW Department of Health. The patient will complete the form and send it back, streamlining the process of monitoring patients. <br /> <br />
    </p>
  </div>
</div>
